html,
body {
  margin: 0;
  padding: 0;
}

body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color: #effffa;
  height: 100vh;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #000;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #000;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: white;
  padding: 2.5em 0 0 2.5em;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: WHITE;
}

.bm-item-list {
  color: black;
}

.bm-overlay {
  background: #effffa;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}
